/* Color para título y subtitulo : #72262C */
/* Color para texto : #212322 */
/* Color para fondo: #f8f8f7  */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f8f7;
    color: #212322;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f7 ;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.header__brand {
    height: 60px;
    flex: 0 0 auto;
    margin-right: auto;
}


.header__logo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.header__nav {
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex: 0 0 auto;
}

.header__nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #72262C;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.header__nav-link:hover, .header__nav-link:focus {
    opacity: 0.9;
    transform: translateY(-1px);
}



